{% extends 'pyslice/base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<h1>About</h1>
<p>Pyslice is a place where you can easily learn Python. It's mainly a site dedicated to Python as it relates to data science. The goal of Pyslice is to create a place where newcomers to the field of data analytics can find all the resources they need to quickly and deeply understand data analytics.</p>
<p>I hope you enjoy learning as much as I have. Good luck!</p>
{% endblock %}
