{% extends 'pyslice/base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<h1>Why Pyslice?</h1>
<p>Pyslice came about because I wanted a place that made it easy to learn Python. I love using Python as a hobby language and writing little scripts to automate a boring and monotonous task at work. Python has terse syntax which makes it easy to type, and when you are a programmer, typing is most of your day.</p>
<p>Python has an interactive interpreter, which comes in handy when you want to prototype something or try something out quickly. This allows you to throw out ideas to determine if it might not work without having to invest a lot of time in it. Python is easy to start using. You don't really have to install a large amount of software. Although the selection of IDEs is few, you don't really need one to start with Python.</p>
{% endblock %}
