<!DOCTYPE html>
<html>
<head>
    {% load static %}

	<link href={% static "pyslice/css/style.css" %} type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    {% block head %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block nav %}
		<div class="nav">
			<div class="nav-item"><a href="{% url 'pyslice:home' %}"><i class="fa fa-home reverse-spin"></i><span class="menu-text hidden">Home</span></a></div>
			<div class="nav-item"><a href="{% url 'pyslice:about' %}"><i class="fa fa-info-circle reverse-spin"></i><span class="menu-text hidden">About</span></a></div>
			<div class="nav-item"><a href="{% url 'pyslice:contact' %}"><i class="fa fa-envelope-o reverse-spin"></i><span class="menu-text hidden">Contact</span></a></div>
			<div class="nav-item"><a href="{% url 'pyslice:learn' %}"><i class="fa fa-book reverse-spin"></i><span class="menu-text hidden">Learn</span></a></div>
		</div>
    {% endblock %}

    <div id="main-body">
        {% block body %}
        {% endblock %}
    </div>
    
    <div id="footer">
        {% block footer %}
        {% endblock %}
        <p>&copy; 2017 Nick Wilde</p>
    </div>
    <script src="{% static 'pyslice/js/main.js' %}" type="text/javascript"></script>

</body>
</html>
