/*
    Author: Nick Wilde

    Contents:
        - Elements
        - Classes
        - IDs
        - Responsive

    Organization of each element:
        1. Coloring
        2. Boxing
        3. Positioning
        4. Sizing
        5. Other
*/

/* Elements */
body{
	margin: 0;
	padding-bottom: 6rem;

    position: relative;

    min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #ff3c2e;

	min-width:150px;

	font-family: Consolas, Lucida Console;
}

html {
    height: 100%;
}

input[type=text], input[type=email] {
    color: #222222;

    padding: 5px;
    margin: 8px 0;
    box-shadow: 0 0px 1px #222222 inset;
    border: 1px solid #0088d8;
    border-radius: 4px;

    width: 100%;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=email]:focus {
    background-color: #0088d8;
    color: white;
}

input[type="submit"], input[type="button"] {
    color: white;
    background-color: #0088d8;

    padding: 8px 0;
    border: none;
    border-radius: 4px;

    position: relative;
    left: 25%;
    right: 75%;

    width: 50%;

    cursor: pointer;
    text-decoration: none;
}

label {
    color: #d84c00;

    font-variant: small-caps;
    font-weight: bold;
}

/* Classes */
.menu-text {
}

@keyframes leftRight {
   100% {
       transform: translate(-10px);
       display: block;
       /*opacity: 1;*/
       float: right;
   }
}

@keyframes rightLeft {
    100% {
        transform: translate(-45px);
        display: none;
        opacity: 0;
        float: right;
    }
}

.menu-text.hidden {
    display: block;
    float: right;
    transform: translate(-10px);
    animation: rightLeft 1s ease-in-out forwards;
    transition: all 1s ease-in-out;
}

.menu-text.visible {
    float: right;
    transform: translate(-40px);
    animation: leftRight 1s ease-in-out forwards;
    transition: all 1s ease-in-out;
}

.nav {
	color: #222222;
    background-color: #5d5d5d;

	margin: 0 auto;
	padding: 0;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

	list-style-type: none;
	overflow: hidden;
}

.nav-item {
	float: left;

	max-width: 150px;
	width: 25%;
}

.nav-item a {
	color: #2ecdff;

	padding: 14px 16px;

	display: block;
	text-align: center;
	text-decoration: none;

    transition: background-color .4s ease;
}

.nav-item a:hover {
    background-color: #2e2e2e;
}

.nav-item a .fa {
    margin-right: 5px;
}

.overlay {
    background-color: #d84c00;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 8px;

    width: 0;
    height: 100%;

    overflow: hidden;
    transition: .5s ease;
}

.side-nav {
	float: left;

	list-style-type: none;
}

.spin {
    animation: spin 1s ease-in-out;
}

.reverse-spin {
    animation-name: revspin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    100% { transform: rotate(360deg);}
}

@keyframes revspin {
    100% {transform: rotate(-360deg);}
}

.uline-h {
	border-bottom: solid 2px #d84c00;
	padding-bottom: 5px;
}

/* IDs */
#contactForm {
    max-width: 20rem;
}

#main-body {
	margin: 0 auto;
    padding: 5em;
    margin-top: 5em;
    border-left: solid 4px #ff3c2e;

    box-shadow: 0 4px 20px grey;

	width: 60%;
}


#footer {
    color: #2ecdff;
    background-color: #2e2e2e;

    padding: 1rem;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
}

/* Responsive */
@media only screen and (max-width: 570px){
    .nav-item {
        float: none;
        width: 100%;
        max-width: none;
    }

    .menu-text.hidden {
        float: none;
        transform: none;
        animation: none;
        display: inline;
    }

    .menu-text.visible {
        float: none;
        animation: none;
        transform: none;
        display: inline;
    }

    .reverse-spin {
        animation: none;
    }

    .spin {
        animation: none;
    }

#main-body {
    padding-top: 12em;
}
}

